<div class="mx-auto">
  <h1 class="font-bold">Tags</h1>

  <ul class="list-none flex flex-row flex-wrap">
    <%= for tag <- @tags do %>
      <%= TrWeb.PostComponent.render_tag_card(%{tag: tag}) %>
    <% end %>
  </ul>
</div>
