<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <% description =
      gettext(
        "Welcome to the Techsquad and Red Beard blog! This page is dedicated to documenting and exploring various
               technologies. Our blog is hosted on a k3s cluster in OCI, powered by Elixir and Phoenix. Dive in to
               discover insights, tutorials, and experiments across the tech landscape."
      ) %>
    <meta name="description" content={description} />
    <meta property="og:title" content={assigns[:page_title] || "Red Beard Team"} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={url(~p"/images/logo-beard.webp")} />

    <.live_title>
      <%= assigns[:page_title] || "Red Beard Team" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white dark:bg-zinc-900 dark:text-white antialiased">
    <header class="dark:bg-zinc-900 dark:text-white">
      <section class="">
        <ul class="list-none float-left">
          <li class="">
            <.link navigate="/#{Gettext.get_locale(TrWeb.Gettext)}/" class="">
              <img
                src={~p"/images/logo-beard.webp"}
                alt="Red Beard team logo"
                class="max-h-24 max-w-24"
              />
            </.link>
          </li>
        </ul>
      </section>
    </header>

    <main class="sm:px-6 lg:px-8 min-h-[70vh]">
      <div class="mx-auto max-w-screen-2xl shadow-xl p-8 rounded-lg">
        <%= @inner_content %>
      </div>
    </main>
  </body>

  <footer class="bg-zinc-900 dark:bg-black text-white text-center py-4">
    <article class="column text-sm">
      <ul>
        <li>
          <a href={"https://redbeard.team/#{Gettext.get_locale(TrWeb.Gettext)}/blog"}>
            This blog
          </a>
        </li>
        <li>
          <a href="https://github.com/kainlite/tr">Github repository</a>
        </li>
        <li>
          <a href="https://twitter.com/kainlite">Twitter @kainlite</a>
        </li>
        <li>
          <.link
            rel="alternate"
            type="application/rss+xml"
            title="Blog Title"
            navigate={~p"/index.xml"}
          >
            RSS
          </.link>
        </li>
        <li>
          <.link navigate={~p"/#{Gettext.get_locale(TrWeb.Gettext)}/privacy"}>
            Privacy policy
          </.link>
        </li>
      </ul>
    </article>
    <p class="text-base">© 2021 Red Beard Team</p>
  </footer>
</html>
