<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <% description =
      "Welcome to the Techsquad blog! This page is dedicated to documenting and exploring various
        technologies. Our blog is hosted on a k3s cluster in OCI, powered by Elixir and Phoenix. Dive in to discover
        insights, tutorials, and experiments across the tech landscape." %>
    <meta name="description" content={description} />
    <meta property="og:title" content="TechSquad.Rocks Blog page" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://techsquad.rocks/blog" />
    <meta name="google-adsense-account" content="ca-pub-7062237667905629" />

    <.live_title>
      <%= assigns[:page_title] || "TechSquad.Rocks information and technology" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7062237667905629"
      crossorigin="anonymous"
    >
    </script>
  </head>
  <body class="bg-white dark:bg-zinc-900 dark:text-white antialiased">
    <%= @inner_content %>
  </body>
</html>
